body {
    background: #0f0;
    background-image: url(https://mskins.net/themes/mc/assets/img/parallax1.jpg);
    font-family: Tahoma;
    font-size: 14px;
}

#glavnoe {
    font-size:140px;
    color:GreenYellow;
    font-weight:bold;
    background-image: url(https://mcpe-world.ucoz.ru/_ph/1/608453027.png?1609308198);
    padding: 75px 0 75px 0 ; margin: 0 0 0 0; border: 1px ridge aqua ;
}

#glavnoe:hover {
    border: 15px ridge aqua;
}
#lolo {
    border: 7px solid indianred;
    border-radius: 18px;
    opacity: 0.7;
    box-shadow: 5px 5px 3px#000000;
}
#lolo:hover {
    opacity: 1;
}