body {
    margin: 0;
    background: #0f0;
    background-image: url(https://mskins.net/themes/mc/assets/img/parallax1.jpg);
    font-family: Tahoma;
    font-size: 14px;
}

#glavnoe {
    font-size:140px;
    color:GreenYellow;
    font-weight:bold;
    background-image: url(https://mcpe-world.ucoz.ru/_ph/1/608453027.png?1609308198);
    padding: 75px 0 75px 0 ; margin: 0 0 0 0; border: 1px ridge aqua ;
}

#glavnoe:hover {
    border: 15px ridge aqua;
}
#lolo {
    transform: rotate(-9deg) scale(0.5);
    border: 17px solid indianred;
    border-radius: 60px;
    opacity: 0.5;
    box-shadow: 15px 15px 13px#000000;
    width: 50px;
    text-align: center;
    font-size: 87px;
    font-weight: 600;
    transition: 1.5s all;
}
#lolo:hover {
    opacity: 2;
}
#lolo:hover {
    transform: rotate(5deg) scale(0.3);
    background-color: lime;
}

#rrrhhh{
    margin: 0;
}