header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    display: block;
    padding: 0 20px;
    color: yellow;
    font-size: 25px;
    font-family: sans-serif;
    text-transform: uppercase;
    transition: .5s;
    font-family: Archive;
    text-shadow: 3px 3px 3px yellowgreen;
}

li a {
    text-decoration: none;
    color: black;
    transition: .5s;
    padding: 10px;
}

ul:hover li a {
    filter: blur(4px);
}

ul:hover li a:hover {
    font-size: 30px;
    filter: blur(0px);
    background-color: #ede739;

}
 img {
     margin-right: 10px;
     margin-left: 10px;
 }