*,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home {
    width: 100vw;
    max-height: 100vh;
    background: url(https://img2.goodfon.ru/original/1280x720/9/ce/background-water-voda-fon.jpg) center/cover no-repeat;
    overflow: hidden;
    position: relative;
}
.home::before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.minecraft_video{
    padding-bottom: 56.25%;
}
.home video{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}
.minecraft_content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 3;
    font-family: sans-serif;
}
.minecraft_content h1{
    font-size: 5vw;
    font-family: Minecraft Rus;
    margin: 0 0 15px;
    font-weight: 400;
    text-align: center;
    -webkit-text-stroke: 4px black;
    box-shadow: 15px 15px 13px#000000;
}
.minecraft_content P {
    box-shadow: 15px 15px 13px#000000;
    text-align: center;
    font-family: Minecraft Rus;
    font-size: 2vw;
}
.minecraft_content p:hover {
    font-size: 40px;
    transition: .5s;
    -webkit-text-fill-color: yellow;
    -webkit-text-stroke: 2px black;
    text-shadow: 3px 0px aqua ;
}